@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --chiaro: #EFF5F6;
  --scuro: #000000;
  --bianco: #FFFFFF;
  --grigio: #F1F1F1;
  --background: var(--bianco);
  --foreground: var(--scuro);
}

@theme inline {
  --color-chiaro: var(--chiaro);
  --color-scuro: var(--scuro);
  --color-bianco: var(--bianco);
  --color-grigio: var(--grigio);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
}
